<h1>Mr. Cocktail</h1>
<p> <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-success"%> </p>



<div class="cards">

      <% @cocktails.each do |cocktail| %>

        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>  <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
            </div>
            <div class="buttons">
              <%= link_to "Delete", cocktail_path(cocktail),
              method: :delete,
              data: { confirm: "Are you sure?"}, class: "delete-button" %>
            </div>
          </div>
        </div>

      <% end %>

</div>

